/* Temp CSS to show structure of UI */
body {
	width: 300px;
	height: 500px;
	padding: 1px;
	margin: 1px;
	text-align: center;
	background-color: #34cceb;
}

.modal-header {

}

.modal-content {
	height: 350px;
	width: 100%;
	padding: 5px;
}

.modal-footer {

}

.logo {
	font-family: Serif;
}

.logo-icon {
	width: 75px;
	height: 50px;
}

.browser-control-buttons {
	height: 50%;
}

.custom-macro-buttons {
	height: 40%;
	margin-top: -20px;
}

.exit-button {
	float: left;
	padding: 3px;
	margin: 5px;
	border-radius: 12px
}

.add-button {
	float: right;
	padding: 3px;
	margin: 5px;
	border-radius: 12px;
}

.menu-text {
	font-family: Serif;
	font-size: 17px;
}

/* Design for basic control browser buttons added */
.button1 {
	border-radius: 12px;
	float: left;
}

/* Design for custom macro buttons added */
.button2 {
	float: left;
}

.menu-text {
	text-align: left;
}
