/* CSS to show structure of add macro section of the UI */

.macro-info-text {
	font-family: Serif;
}

body {
	width: 300px;
	height: 500px;
	padding: 1px;
	margin: 1px;
	text-align: center;
	background-color: #34cceb;
}

.macro-name {
	width: 25%;
}

.action-input {
	width: 40%;
}

.modal-header {

}

.modal-content {
	height: 350px;
	width: 100%;
	padding: 5px;
}

.modal-footer {

}

.logo {
	font-family: Serif;
}

.logo-icon {
	width: 75px;
	height: 50px;
}

.exit-button {
	float: left;
	padding: 3px;
	margin: 5px;
	border-radius: 12px
}

.add-button {
	float: right;
	padding: 3px;
	margin: 5px;
	border-radius: 12px;
}

.back-button {
	float: left;
	padding: 3px;
	margin: 5px;
	border-radius: 12px;
}

.help-button {
	float: left;
	padding: 3px;
	margin: 5px;
	border-radius: 12px;
}

.submit-button {
	float: right;
	padding: 3px;
	margin: 5px;
	border-radius: 12px;
}
